<html>
<head>
	<title>AnguleJS -Examples</title>
</head>
<body ng-app>
	<!-- --------------------------------------------- #Part1 ---------------------------------------------- -->
	<h1>ng-model directive</h>
	<!-- The directive 'ng-app' means that we are in an AngularJS application  -->
	<input type="text" ng-model="yourName" />
	Hello {{ yourName }}

	<!-- --------------------------------------------- #Part2 ---------------------------------------------- -->
	<h1>ng-init directive</h>
	<!-- The directive 'ng-app' means that we are in an AngularJS application  -->
	<div ng-init="myList=['My', 'Name', 'Is', 'Ala', 'Eddine', 'Jebali']">
		myList = {{ myList }}
	</div>

	<ul>
		<li ng-repeat="itemValue in myList">{{itemValue}}</li>
	</ul>

	<!-- Include AngularJS -->
	<script src="angular.min.js"></script>
</body>
</html>